.navbar {
  color: #fff;
  padding: 7px 7px;
  display: flex;
}
.text-center {
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
}
.card img {
  display: flex;
  border-radius: 50%;
}
.form input {
  padding: 7px;
  width: 50%;
}
.form .btn-light {
  border: 1px solid;
}
.form button {
  color: #fff;
}
